*{
    letter-spacing:0.8px ;
    line-height: 1.5em;
}

body {
    font-family: 'Noto serif TC', sans-serif;
}
div#redred{
    padding-bottom: 50px;
    padding-top: 30px;
    margin: 0px 0px 60px 0px;
    color:red;
    font-size: 20px;
    text-align: center;
    text-indent: 1.5em;
    background-color: beige;
    font-family: 'Noto Sans TC', sans-serif;
    border: 10px solid rgb(221, 202, 160);
    border-radius: 50px;
    background-image: url(../assets/img/sky.jpg);
}

.blueblue{
    color:blue;

}


.expedu_icon{
    color:red
}


.expedu_icon:hover{
    background-color: blue;
    color:white;
}
.bg-primary {
    background-color: black !important;
    background-image: url(../assets/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   }
   ol.mylist.li:hover {
    background-color: blueviolet;
    color: azure;
}
table.mytable th{
    width: 80%;
    text-align: center;
    background-color: rgb(210, 214, 243);
    color: rgb(58, 58, 58);
    border: 2.5px solid rgb(139, 139, 139)
}
table.mytable td{
    text-align: center;
    border-collapse: separate;
    border: 2.5px solid rgb(139, 139, 139)
}
table.mytable tr:nth-child(even){
    background-color: rgb(197, 213, 243);
}
table.mytable tr:nth-child(odd){
    background-color: rgb(243, 216, 230);
}
